/*Styles for appointment page*/

#appointment {
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#appointment-form input {
    width: 50%;
    padding: 15px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #444;
    font-family: 'Montserrat', sans-serif;
}

#appointment-form {
    float: right;
    margin-right: 150px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}


/*Styles for about page*/

#about {
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#about-text {
    width: 70%;
    font-size: 23px;
    float: right;
    padding: 25px;
    margin-top: 140px;
    font-family: 'Montserrat', sans-serif;
}


/*Styles for event page*/

#events {
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#event-text {
    width: 70%;
    font-size: 23px;
    float: right;
    padding: 25px;
    margin-top: 180px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#events2 {
    margin-right: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#event2-text {
    width: 70%;
    font-size: 23px;
    float: left;
    padding: 25px;
    margin-top: 180px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#events3 {
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#event3-text {
    width: 70%;
    font-size: 23px;
    float: right;
    padding: 25px;
    margin-top: 180px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#events4 {
    margin-right: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#event4-text {
    width: 70%;
    font-size: 23px;
    float: left;
    padding: 25px;
    margin-top: 180px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/*Styling for contact form */

.contact input {
    width: 45%;
    padding: 15px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #444;
}

.contact {
    padding: 65px;
}

input[type=submit]:hover {
    background-color: brown;
}

#contact-img {
    float: right;
    margin-top: 400px;
}

.imageSelector {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

#imageToSwap {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 400px;
}


/*Styles for thank you page*/

#thanks {
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#thanks-text {
    width: 60%;
    font-size: 32px;
    float: right;
    margin-top: 200px;
    padding-left: 50px;
}

@-ms-viewport {
    width: device-width;
}

footer,
header,
main,
nav {
    display: block;
}

body {
    margin: 0;
    font-family: "Work Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

a {
    color: #78d5ef;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #34c0e7;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

button {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
}

button,
input {
    overflow: visible;
}

textarea {
    overflow: auto;
    resize: vertical;
}

h1,
h2,
h3,
h5,
.h1,
.h2,
.h3,
.h5,
{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6,
.col-md-12,
.col-lg-3,
.col-lg-4,
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25);
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.collapse:not(.show) {
    display: none;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse {
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
}

.d-block {
    display: block !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

@media (min-width: 768px) {
    .mb-md-5 {
        margin-bottom: 3rem !important;
    }
}

body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
}

span {
    color: #bfbfbf;
}

a {
    transition: .3s all ease;
    color: #c49b63;
}

a:hover,
a:active,
a:focus {
    color: #c49b63;
    outline: none !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h5,
{
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    font-family: "Josefin Sans", Arial, sans-serif;
}

.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000 !important;
        position: relative;
        top: 0;
    }
}

.ftco-navbar-light .navbar-brand {
    color: #000;
    font-family: "Josefin Sans", Arial, sans-serif;
}

@media (min-width: 768px) {
    .ftco-navbar-light .navbar-brand {
        color: #000;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 13px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;
}

@media (min-width: 768px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        color: rgba(255, 255, 255, 0.9);
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover,
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:focus {
    color: #000000;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:after,
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:focus:after {
    opacity: .5;
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.ftco-seperator:before {
        display: none;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.cart>a {
    position: relative;
}

.ftco-navbar-light .navbar-nav>.nav-item.cart>a .icon {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.cta {
        margin-bottom: 20px;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a span {
    display: inline-block;
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a:hover {
    background: #c49b63;
    border: 1px solid #c49b63;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta.cta-colored span {
    border-color: #c49b63;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #c49b63;
}

.ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #000 !important;
}

.ftco-navbar-light.scrolled .navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.bg-light {
    background: #fafafa !important;
    /*Keeps nav bar brand height*/
}

.btn {
    font-size: 13px;
    background-color: #999966;
}

.btn:hover {
    background-color: #838359;
    border: 1px solid #838359;
}

@media (min-width: 1200px) {
    .ftco-intro .wrap .info {
        width: calc(100% - 35%);
        padding: 2% 5% 2% 12%;
    }
}

@media (max-width: 767.98px) {
    .ftco-intro .wrap .info {
        width: 100%;
    }
}

.ftco-intro .wrap .info p {
    margin-bottom: 0;
}

.ftco-intro .wrap .book {
    width: 35%;
    background: #c49b63;
}

@media (max-width: 767.98px) {
    .ftco-intro .wrap .book {
        width: 100%;
    }
}

.ftco-intro .wrap .book h3 {
    text-transform: uppercase;
}

.ftco-intro .wrap h3 {
    font-size: 16px;
}

.ftco-intro .wrap .text {
    width: calc(100% - 40px);
}

.ftco-intro .wrap .icon {
    width: 40px;
}

.ftco-intro .wrap .icon span {
    color: #c49b63;
    font-size: 20px;
}

.form-control {
    height: 58px !important;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 18px;
    border-radius: 0px;
    box-shadow: none !important;
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
    padding-right: 0;
    padding-left: 0;
}

.form-control:focus,
.form-control:active {
    border-color: #c49b63;
}

textarea.form-control {
    height: inherit !important;
}

.ftco-footer {
    font-size: 16px;
    padding: 2.5em 0;
    background: #120f0f;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: #fff;
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a:hover {
    color: #fff;
}

.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

#map {
    height: 400px;
    width: 100%;
}

@media (max-width: 991.98px) {
    #map {
        height: 300px;
    }
}